/* Position and sizing of burger button */
* {
  transition: all 0.1s ease; /* Плавный переход для всех свойств за 0.3 секунды */
}
.bm-burger-button {
  position: fixed;
  width: 24px;
  height: 24px;
  right: 24px;
  top: 24px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Color/shape of burger icon bars on hover */
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  top: px;
  right: 24px;
  width: 36px;
  height: 30px;
  fill: white;
  &&:hover {
    transform: rotate(90deg);
  }
}

/* Color/shape of close button cross */
.bm-cross {
  top: 24px;
  right: 24px;
  background: rgb(10, 167, 218);
}

.bm-cross-icon {
  top: 24px !important;
  right: 24px !important;
  width: 36px !important;
  height: 36px !important;
  transition: transform 0.3s ease;
  fill: white;
  &&:hover {
    transform: rotate(90deg);
  }
}

.bm-cross-icon:hover {
  transform: rotate(90deg);
}

/* Sidebar wrapper styles */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: rgb(10, 167, 218);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  /* width: 244px; */
  /* padding: 12px; */
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: rgb(10, 167, 218);
}

/* Wrapper for item list */
.bm-item-list {
  left: -50% !important;
  color: #ffffff;
  padding: 0.8em;

  font-size: 16px;
}

/* Individual item */
.bm-item {
  text-align: left;
  padding: 0.5em;
  color: #ffffff;
  text-decoration: none;
  display: flex !important;
  gap: 10px;
  justify-content: left;
  transition: all 0.3s ease;

  &&:hover {
    /* border-bottom: 1px solid rgb(12, 12, 12); */
  }
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.soc-links {
  display: flex !important;

  justify-content: space-between;
  margin-top: 2em;
  &&:hover {
    color: black;
    border: none;
  }
}

.soc-link {
  color: #ffffff;
  font-size: 1.5em;
  &&:hover {
    color: black;
    border: none !important;
  }
}
.menu-item:hover {
  text-decoration: none;
  color: black;
}
.submenu {
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}
.submenu.open {
  max-height: 500px;
  opacity: 1;
}
#open:hover .submenu {
}
.header-submenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &&:hover {
    color: black;
    border-bottom: 1px solid rgb(12, 12, 12);
  }
}

.submenu {
  font-size: 14px;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 8px;
  color: white !important;
  text-align: left;
  && a {
    color: white;
    text-decoration: none;
    &&:hover {
      color: black;
      &&:hover {
        border-bottom: 1px solid rgb(12, 12, 12);
      }
    }
  }
}

.submenu.open {
  max-height: 500px; /* Достаточно большое значение, чтобы вместить все элементы */
  opacity: 1;
}
.menu-icon {
  /* position: absolute;
  left: 16px; */
}
#submenu-item {
  display: flex;
  flex-direction: column;
}
.submenu-item {
  justify-content: start;
  color: #ffffff;
  &&:hover {
    text-decoration: none;
  }
}
.flags {
  width: 16px;
  height: 12px;
}
.chat-burger {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  &&:hover {
    border: none;
    color: black;
  }
  && a {
    color: #ffffff;
    &&:hover {
      border: none;
      color: black;
    }
  }
}
.policy-item {
  /* position: absolute;
  width: 140px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0; */

  font-size: 12px;
  text-align: center;
}
.policy-burger {
  display: flex;
  align-items: end;
  justify-content: center;
  /* position: relative; */

  &&:hover {
    border: none;
  }
}
.burger-logo {
  display: flex;
  justify-content: center;
  &&:hover {
    border: none;
  }
}
.services-icon {
  display: flex;
  gap: 12px;
}
