/* Position and sizing of burger button */
* {
  transition: all 0.1s ease; /* Плавный переход для всех свойств за 0.3 секунды */
}
/* BurgerMenu.css */

body.no-scroll {
  overflow: hidden;
}

#page-wrap.no-scroll {
  overflow: hidden;
}

.bm-menu {
  /* другие стили */
  overflow: hidden; /* Убедитесь, что меню не прокручивается */
}

.bm-menu-wrap {
  position: fixed !important;

  height: 100% !important;
  z-index: 1000; /* Убедитесь, что z-index достаточно высок */
  overflow: hidden; /* Убедитесь, что обертка меню не прокручивается */
}

.bm-burger-button {
  position: fixed;
  width: 24px;
  height: 24px;
  right: 24px;

  top: 34px;
  transform: translateY(-50%);
}

.bm-burger-bars {
  background: white;
}

.bm-burger-bars-hover {
  background: #a90000;
}

.bm-cross-button {
  top: px;
  right: 24px;
  width: 36px;
  height: 30px;
  fill: white;
  &&:hover {
    transform: rotate(90deg);
  }
}

.bm-cross {
  top: 24px;
  right: 24px;
  background: var(--main-color2);
}

.bm-cross-icon {
  top: 24px !important;
  right: 24px !important;
  width: 36px !important;
  height: 36px !important;
  transition: transform 0.3s ease;
  fill: white;
  &&:hover {
    transform: rotate(90deg);
    fill: #01426b !important;
  }
}

.bm-cross-icon:hover {
  transform: rotate(90deg);
  fill: #01426b !important;
}

/* Sidebar wrapper styles */
.bm-menu-wrap {
  position: fixed;
  height: 100vh !important;
}

/* General sidebar styles */
.bm-menu {
  background: var(--main-color2);
  padding: 24px 16px;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: var(--main-color2);
}
/* Wrapper for item list */
.bm-item-list {
  left: -50% !important;
  color: #ffffff;
  /* padding: 0.8em; */

  font-size: 16px;
}

/* Individual item */
.bm-item {
  text-align: left;
  padding: 5px 4px;
  color: #ffffff;
  text-decoration: none;
  display: flex !important;
  gap: 10px;
  justify-content: left;
  transition: all 0.3s ease;

  &&:hover {
    /* border-bottom: 1px solid rgb(12, 12, 12); */
  }
}

/* Styling of overlay */
.bm-overlay {
  background: #01426b;
}

.soc-links {
  display: flex !important;

  justify-content: space-between;
  margin: 0 auto;
  margin-top: 68px;
  max-width: 160px;
  &&:hover {
    color: #01426b;
    border: none;
  }
}

.soc-link {
  color: #ffffff;
  font-size: 1.5em;
  &&:hover {
    color: #01426b;
    border: none !important;
  }
}
.menu-item {
  display: flex;
  align-items: center;
}
.menu-item:hover {
  text-decoration: none;
  color: #01426b;
}
.submenu {
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}
.submenu.open {
  max-height: 500px;
  opacity: 1;
}
#open:hover .submenu {
}
.header-submenu {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 25%;
  && a {
    text-decoration: solid !important;
  }
  && span {
    &&:hover {
      color: #01426b;

      border-bottom: 1px solid #01426b;
    }
  }
}

.submenu {
  padding-left: 25%;
  font-size: 14px;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  list-style-type: unset;
  gap: 8px;
  color: white;
  text-align: left;
  margin-bottom: 24px;

  && li {
    &&:hover {
      color: 0#01426B;
    }
  }

  && a {
    color: white;

    &&:hover {
      color: #01426b;
      &&::marker {
        color: #01426b;
      }
      color: #01426b;
      /* &&:hover {
        border-bottom: 1px solid rgb(12, 12, 12);
      } */
    }
  }
}

.submenu.open {
  max-height: 500px; /* Достаточно большое значение, чтобы вместить все элементы */
  opacity: 1;
}
.menu-icon {
  /* position: absolute;
  left: 16px; */
  && svg {
    &&:hover {
      fill: #01426b;
    }
  }
}
#submenu-item {
  display: flex;
  flex-direction: column;
}
.submenu-item {
  justify-content: start;
  color: #ffffff;
  &&:hover {
    text-decoration: none;
  }
}
.flags {
  width: 16px;
  height: 12px;
}
.chat-burger {
  border: 1px solid rgba(255, 255, 255, 0.7);
  max-width: 196px;
  border-radius: 15px;
  padding: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 36px;
  && p {
    font-size: 12px !important;
    color: rgba(255, 255, 255, 0.7);
  }
  &&:hover {
    background: rgba(1, 66, 107, 0.7);
    border: transparent;
  }
}
.chat-cont {
  display: flex;
  justify-content: center;
  && a {
    display: flex;
    justify-content: center;
  }
}
.policy-item {
  /* position: absolute;
  width: 140px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0; */

  font-size: 12px;
  text-align: center;
}
.policy-burger {
  display: flex;
  align-items: end;
  justify-content: center;
  /* position: relative; */

  &&:hover {
    border: none;
  }
}
.burger-logo {
  padding: 0;
  margin-bottom: 26px;
  &&:hover {
    border: none;
  }
}
.services-icon {
  display: flex;
  gap: 12px;
}
.consult {
  padding: 14px 22px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.menu-icon {
  &&:hover {
    fill: black;
  }
}
