/* /src/components/Header/Header.module.css */

:root {
  --main-color: rgb(10, 167, 218);
  --font-size: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  padding: 10px 20px;
  color: white;

  && :hover {
    color: black;

    transition: color 0.5s ease;
  }
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.nav {
  display: none;
  align-items: center;
  margin-right: 60px;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav li {
  margin-left: 20px;
  position: relative;
}

.nav a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}

.nav .dropdown:hover .submenu {
  display: block;
}

.nav .submenu {
  display: none;
  position: absolute;
  background-color: var(--main-color);
  top: 100%;
  left: 0;
  min-width: 140px;
  z-index: 1000;
}

.nav .submenu li {
  margin: 0;
  && :hover {
  }
}

.nav .submenu a {
  padding: 10px;
}

.nav .submenu .dropdown:hover .subsubmenu {
  display: block;
  transition: color 1.5s ease;
}

.nav .subsubmenu {
  display: none;
  position: absolute;
  background-color: var(--main-color);
  top: 0;
  left: 100%;
  min-width: 200px;
  z-index: 1000;
}

.nav .subsubmenu a {
  padding: 10px;
}

.mobileMenuButton {
  display: none;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}
.linksoc {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .nav {
    display: flex;
  }
  .nav.open {
    max-height: 500px;
  }

  .nav ul {
    width: 100%;
  }

  .nav li {
    width: 100%;
    margin: 0;
  }

  .nav a {
    width: 100%;
    padding: 10px 20px;
  }

  .mobileMenuButton {
    display: block;
  }
  .link {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
