/* /src/components/Header/MobileMenu.module.css */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1200;
}

.mobileMenu {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 80%;
  max-width: 300px;
  background-color: #007bff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1300;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.mobileMenuLinks {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.mobileMenuLinks li {
  margin-bottom: 10px;
}

.mobileMenuLinks a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
}

.mobileMenuSocLinks {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.mobileMenuSocLinks li {
  margin: 0 10px;
}

.mobileMenuSocLinks a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.reactIcons {
  color: white;
  font-size: 24px;
}
.submenum {
  display: none;
}
.dropdownm:hover .submenum {
  display: block;
}
.subsubmenum {
  display: none;
}
.dropdownsm:hover .subsubmenu {
  display: block;
}
/* .nav .submenu {
  display: none;
  position: absolute;
  background-color: var(--main-color);
  top: 100%;
  left: 0;
  min-width: 140px;
  z-index: 1000;
}

.nav .submenu li {
  margin: 0;
  && :hover {
  }
}

.nav .submenu a {
  padding: 10px;
}

.nav .submenu .dropdown:hover .subsubmenu {
  display: block;
  transition: color 1.5s ease;
}

.nav .subsubmenu {
  display: none;
  position: absolute;
  background-color: var(--main-color);
  top: 0;
  left: 100%;
  min-width: 200px;
  z-index: 1000;
}

.nav .subsubmenu a {
  padding: 10px;
} */
