/* /src/global.css */
@import "modern-normalize";
:root {
  --main-color: rgb(10, 167, 218);
  --font-size: 16px;
  --yellow: #ffc907;
  --main-color2: #0084d5;
  --textgrey: #63666a;
  --black: #111111;
}
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #63666a;
  line-height: 1.6;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  /* text-decoration: underline; */
}

header {
  background-color: var(--main-color2);
  color: white;
}

header a {
  color: white;
}

header a:hover {
  text-decoration: none;
}
#page-wrap {
  height: 90vh;
}
#root {
  height: 100vh;
}
